BRIDGE_PORT=3000
OHSTEM_MQTT_URL=mqtt://mqtt.ohstem.vn:1883
OHSTEM_MQTT_USER=giabao
OHSTEM_MQTT_PASSWORD=
OHSTEM_TOPIC_PREFIX=giabao/feeds

API_BASE_URL=http://127.0.0.1:3001
INTERNAL_INGEST_TOKEN=ndCQ+enmBterPdR5frh7q105M8t4WgQyR3v9VEYsiKY=
BRIDGE_PUBLISH_TOKEN=LZ/UE33EvvGRcbVIR+LGYuWvXSrjy5cSzhZ9tAtfRzg=
DEFAULT_AREA_ID=1
